{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>web</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>

  </head>
  <body>
    <div class="ui sidebar visible thin left inverted vertical menu">
      <div class="header menu">
        <img src="{% static 'images/logo.png' %}" width='150' height="30">
      </div>
      <div class="item">
        <i class="browser icon"></i>
        Documents</div>
      <div class="item">
        <i class="bar chart icon"></i>
        Charts</div>
      <div class="item">
        <i class="idea icon"></i>
        Others</div>

    </div>

    <div class="pusher">

      <div class="ui menu">
        <div class="header item" id="menu">
          <i class="content icon"></i>Menu
        </div>
        <div class="item">
          <a href="/index">Home</a>
        </div>
        <div class="item">
          location
        </div>
        <div class="item">
          others
        </div>

      </div>

        <div class="ui container">
        <div class="ui divided items">

          {% for item in LogInfo %}
            <div class="item">
            <div class="content">
              <div class="header">
                {{ item.caseid }}
              </div>
              <div class="description">
                <p>
                  {{ item.orgnization }}
                </p>
              </div>
              <div class="extra">
                <div class="ui label">
                  {{ item.date }}
                </div>
                <div class="ui label">
                  {{ item.handle_by }}
                </div>
              </div>
            </div>
            </div>
          {% endfor %}

        </div>

        <div class="ui small pagination menu">
          {% if LogInfo.has_previous %}
            <a href="?page={{ LogInfo.previous_page_number}}" class="active item"> < </a>
          {% endif %}

          <div class="disabled item">
            {{ LogInfo.number }} of {{ LogInfo.paginator.num_pages }}
          </div>

          {% if LogInfo.has_next %}
            <a href="?page={{ LogInfo.next_page_number }}" class="item"> > </a>
          {% endif %}

        </div>

      </div>


    </div>

    <script>
      $('#menu').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
    </script>
  </body>
</html>
